.card-item {
  height: 100%;
  .v-image {
    // height: 321px;
    .v-image__image {
      transition: all .4s ease;
    }
    &:hover {
      .v-image__image {
        transform: scale(1.1);
      }
    }
  }
  .box {
    padding: 0 20px;
  }
  .v-card__title {
    padding: 10px 0;
    line-height: 1.3;
    word-break: normal;
    a {
      text-decoration: none;
      color: #000;
    }
  }
  .price {
    font-weight: bold;
    font-size: 30px;
    display: flex;
    &:before {
      content: '$';
      font-size: 18px;
      margin-right: 4px;
      transform: translateY(3px);
    }
  }
  .v-card__actions {
    padding: 10px 0;
  }
}

@media #{map-get($display-breakpoints, 'xs-only')} {
  .card-item {
    .box {
      padding: 0 10px;
    }
    .v-card__title {
      font-size: 16px;
    }
    .price {
      font-size: 18px;
      padding-right: 5px;
      &:before {
        font-size: 11px;
      }
    }
    .v-card__actions {
      .v-btn {
        width: 24px;
        height: 24px;
        margin-left: 3px !important;
        i {
          font-size: 18px;
          width: 18px;
          height: 18px;
        }
      }
    }
  }
}