.card-item {
  height: 100%;
  .v-image {
    // height: 269px;
    .v-image__image {
      transition: all .4s ease;
    }
    &:hover {
      .v-image__image {
        transform: scale(1.1);
      }
    }
  }
  .box {
    padding: 0 20px;
    // display: flex;
    // flex-direction: column;
    // justify-content: space-between;
  }
  .v-card__title {
    padding: 10px 0;
    a {
      text-decoration: none;
      color: #000;
    }
  }
  .price {
    font-weight: bold;
    font-size: 30px;
    display: flex;
    &:before {
      content: '$';
      font-size: 18px;
      margin-right: 4px;
      transform: translateY(3px);
    }
  }
  .v-card__actions {
    padding: 10px 0;
  }
}